@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Inter', sans-serif;
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 bg-nikke-red text-white rounded hover:bg-red-700 transition-colors;
  }
}
